body{
    background-image:url(picture.jpeg);
    background-repeat:no-repeat;
    background-size:100%;
}

h1{
    font-style: italic;
    color: red;
    text-align: center;

}
/*div qui contiens tous les contenus*/
#Conteneur{
    border:2px dashed black; /*pour mieux voir ma div temporairement*/
    display: flex;
    height: 300px;
    width: 1000px;
    padding: 0px;
    margin: 0px auto;
    /* flex-direction: column;
    justify-content: space-between; */
    position: relative;
    background-image: linear-gradient(red,violet,grey);
   


}

.Entetedepage{
    background: rgb(112, 105, 105);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border:2px dashed black;
    height: 40px;

}

.niveau {
    width: 33%;
    position: relative;
}
.carrer {
    display: inline-block;
    border: 1px solid black;
    height: 90px;
    width: 25px;
    margin: auto 10px;
    padding: 0px;
}

.Carrer1{
    background: green;

}
.Carrer2{
    background: green;

}
.Carrer3{
    background:green;
}


.Pieddepage{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border:2px solid black;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgb(112, 105, 105);
}


.Carrer4{
    background: white;

}
.Carrer5{
    background: black;

}
.Carrer6{
    background: white;
}

.Pieddepage .carrer {
    position: absolute;
    bottom: 50px;
}

.simplon {
    left: 50px;
    transition: height;
}
